---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
---

<MainLayout>
  <Header />
  <main>
    <About />
  </main>
  <div class="h-screen"></div>
</MainLayout>
