<section id="about">
    <div class="wrapper flex flex-col justify-center items-center text-center ">
        <h2 class="font-heading font bold mb-4 text-4xl text-center">O mnie</h2>
        <p class="text-lg p-2 text-gray-700 leading-loose">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et recusandae incidunt blanditiis obcaecati, quod consectetur laudantium, itaque non delectus ipsum aliquid voluptas nostrum est deserunt voluptatem, fugiat fuga doloribus temporibus?</p>
        <ul>
            <li><span class="text-lg p-2 text-gray-700 leading-loose">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></li>
            <li><span class="text-lg p-2 text-gray-700 leading-loose">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></li>
            <li><span class="text-lg p-2 text-gray-700 leading-loose">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></li>
        </ul>
    </div>
</section>