button {
  background: none;
  border: none;
  cursor: pointer;
}

.line {
  height: 2px;
  width: 30px;
  background-color: #000;
  margin: 6px 0;
  transition:
    transform 0.3s,
    opacity 0.3s;
}

/* Initial state - Burger icon */
.burger .line:nth-child(1),
.burger .line:nth-child(2),
.burger .line:nth-child(3) {
  opacity: 1;
}
.cross .line:nth-child(2) {
  opacity: 0;
}

.cross .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.cross .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
