<footer class=" text-center bg-slate-300 p-8">
  <h2 class="font bold  mb-2  font-heading text-4xl">Kontakt</h2>
  <div class="w-96 max-w-full mx-auto text-left p-8">
    <p class="mb-4"><i class="ti ti-brand-facebook text-3xl"></i>: <a href="#"><span class="text-xl">Facebook</span></a></p>
    <p class="mb-4"><i class="ti ti-phone text-3xl"></i>: <span class="text-xl">+48 958 958 958</span></p>
</footer>
