---
import Picture from "./Picture.astro"
---

<main class="bg-slate-100 py-8">
  <h2 class="font bold mb-4 text-center font-heading text-4xl">Galeria</h2>
  <div class="img-container flex flex-wrap items-center justify-center gap-x-4">
    <Picture/>
    <Picture/>
    <Picture/>
    <Picture/>
    <Picture/>
    <Picture/>
    <Picture/>
    <Picture/>
    <Picture/>
    <Picture/>
    <Picture/>
    <Picture/>
  </div>
</main>
