---
import Picture from "./Picture.astro";
---

<section id="gallery" class="bg-slate-200 py-8">
  <h2 class="font bold mb-4 text-center font-heading text-4xl">Galeria</h2>
  <div class="img-container flex flex-wrap items-center justify-center gap-x-4">
    <Picture />
    <Picture />
    <Picture />
    <Picture />
    <Picture />
    <Picture />
  </div>
  <div class="mt-8 text-center">
    <a href="/gallery"
      ><button
        class="rounded-lg bg-slate-500 px-4 py-2 transition hover:bg-gray-700 hover:text-white"
        >Zobacz całą Galerię</button
      ></a
    >
  </div>
</section>
