---
import { Image } from "astro:assets";
import bezi from "../images/844a531c890f0760ec0d9d7755a04fa4.jpg";
---

<div
  class="img mx-0 my-4 h-96 w-full rounded-sm bg-white sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4"
>
  <Image
    src={bezi}
    alt="Painting Preview"
    class="h-full w-full rounded-sm object-cover"
  />
</div>
